/* start transition */
@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}

@keyframes slide-to-right {
  from {
    transform: translateX(30px);
  }
}

@media screen and (width > 600px) {
  ::view-transition-old(root) {
    animation:
      fade-out 90ms cubic-bezier(0.4, 0, 1, 1) both,
      slide-to-left 300ms cubic-bezier(0.4, 0, 0.2, 1) both;
  }

  ::view-transition-new(root) {
    animation:
      fade-in 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both,
      slide-from-right 300ms cubic-bezier(0.4, 0, 0.2, 1) both;
  }

  form .form-buttons {
    flex-direction: row;
    align-items: center;
  }

  /* MAIN */
  /* LOGIN & REGISTER */
  .register-form,
  .login-form {
    border: 1px solid #d4d4d4;
  }

  /* Report detail */
  .report-detail__images {
    height: 400px;
  }

  .report-detail__body-container {
    inset-block-start: -150px;
  }

  /* New documentations */
  .new-form__documentations__buttons {
    flex-direction: row;
  }

  .new-form__documentations__outputs {
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  }
}

@media screen and (width > 800px) {
  /* MAIN */
  .reports-list__map__container,
  .reports-list__map {
    height: 500px;
  }

  .reports-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  /* Report detail */
  .report-detail__body-container {
    inset-block-start: -200px;
  }

  .report-detail__images {
    height: 500px;
  }

  /* New documentations */
  .new-form__documentations__outputs {
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  }

  /* FOOTER */
  .footer-content {
    justify-content: space-between;
  }
}

@media screen and (width>1000px) {
  .drawer-button {
    display: none;
  }

  /* MAIN */
  .reports-list__map__container,
  .reports-list__map {
    height: 600px;
  }

  .reports-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .report-detail__images {
    height: 600px;
  }
}

@media screen and (width< 1000px) {
  .drawer-button {
    display: block;
  }

  .navbar-container {
    /* min-height: 100vh; */
    width: 100%;
    padding: 20px 10px;
    background-color: white;

    display: flex;
    flex-direction: column;
    gap: 20px;

    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;

    transform: translateY(-100%);
    opacity: 0;
    transition:
      opacity 150ms,
      inset-block-start 0ms 150ms,
      transform 0ms 150ms;

    z-index: 9999;
  }

  .navbar-container.open {
    inset-block-start: 90px;
    transform: translateY(0);
    opacity: 1;

    transition: opacity 150ms;
  }

  .navbar-container ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-container li {
    width: 100%;
  }

  .navbar-container li a {
    display: block;
    color: #333;
    border-bottom: 1px solid #eee;
  }
}
